@import "tailwindcss";

:root {
  --background: #f8f6f0;
  --Viola:#7217ba;
  --Orange:#f08f00;
  --Green-pastel:#cdd07f;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-Viola: var(--Viola);
  --color-Orange: var(--Orange);
  --color-Green-pastel: var(--Green-pastel);
  --color-foreground: var(--foreground);

  --font-comfortaa: var(--font-comfortaa);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-comfortaa), sans-serif;

}
